ul.TopBar {
  list-style-type: none;
  margin: 0;
  padding-bottom: 0;
  overflow: hidden;
  background-color: #000000;
  opacity: .7;
}

.TopBar li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  border: none;
  bottom: 0;
  outline: 0;
}

.TopBar li:hover {
  background-color: #111;
}

.active {
  background-color: #111;
  cursor: text;
  user-select: none;
}
