<form [action]="" >
  <div class="container">
    <h1>Mission assignment</h1>

    <hr>

    <label for="country"><b>Mission location</b></label>
    <input type="text" placeholder="Country" name="country" required>

    <label for="date"><b>Mission accomplished date</b></label>
    <input type="date" placeholder="Date" name="date" required>

    <label for="address"><b>Safe house address</b></label>
    <input type="text" placeholder="Address" name="address" required>

    <label for="agentId"><b>Agent</b></label>
    <input type="text" placeholder="Agent ID" name="agentId" required>

    <div>
      <button type="submit" class="createbtn">Submit Mission</button>
    </div>
  </div>
</form>
