.farAway{
  color: red;
}

.closest{
  color: #1bb819
}

.missionsContainer{
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 40%;
  box-shadow: 2px 2px 20px;
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border: 1px solid #ddd;
  border-collapse: collapse;
  width: 100%;
}

table tr{
  background-color: #e3e3e3;
}

table tr:hover {
  background-color: #ddd;
}

td {
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ddd;
  color: #777777;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 6px;
  text-align: left;
  color: #575757;
  border: 1px solid #b6b6b6;
  height: 40%;
  cursor: pointer;
  background: linear-gradient(to bottom, #b6b6b6, #d1d1d1);
}

.tableFooter {
  color: #4e4e4e;
  text-align: right;
  user-select: none;
  background-color: #cdcdcd;
}
