div{
  padding: 4% 8% 0 8%;
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border: 1px solid #ddd;
  border-collapse: collapse;
  width: 100%;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

td {
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ddd;
  color: #777777;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 6px;
  text-align: left;
  background-color: #FAFAFA;
  color: #575757;
  border: 1px solid #ddd;
  height: 40%;
}

.tableFooter {
  text-align: right;
}
