<div class="missionsContainer">
  <table>
    <thead>
    <tr>
      <th (click)="sortMissionsByAgents()">
        Agent ID
      </th>
      <th (click)="sortMissionsByCountry()">
        Country
      </th>
      <th (click)="sortMissionsByAddress()">
        Address
      </th>
      <th (click)="sortMissionsByDate()">
        Date
      </th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let mission of missions">
      <td [ngClass]="{ farAway: mission.farFromHQ === true, closest: mission.nearToHQ === true }">{{mission.agent}}</td>
      <td [ngClass]="{ farAway: mission.farFromHQ === true, closest: mission.nearToHQ === true }">{{mission.country}}</td>
      <td [ngClass]="{ farAway: mission.farFromHQ === true, closest: mission.nearToHQ === true }">{{mission.address}}</td>
      <td [ngClass]="{ farAway: mission.farFromHQ === true, closest: mission.nearToHQ === true }">{{mission.date}}</td>
    </tr>
    <tr>
      <td class="tableFooter" colspan="4">{{ missions.length }} Missions</td>
    </tr>
    </tbody>

  </table>
</div>
