<table>
  <thead>
  <tr>
    <th>
      Agent ID
    </th>
    <th>
      Country
    </th>
    <th>
      Address
    </th>
    <th>
      Date
    </th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let mission of getMissions()">
    <td>{{mission.agent}}</td>
    <td>{{mission.country}}</td>
    <td>{{mission.address}}</td>
    <td>{{mission.date | uppercase}}</td>
  </tr>
  </tbody>

  <tfoot>
  <div>
    <tr>
      <td>{{getMissions().length}} Missions</td>
    </tr>
  </div>
  </tfoot>
</table>

