<div class="mission-card">

  <div class="left-side">

  </div>


  <div class="mission-summary">
    <p>
      Good morning, agent double OH my god. MI6 is trying to gather statistics about its missions.
      Your mission, should you decide to accept it, has two parts.
    </p>
    <p>
      First, find most isolated country, you know where to look for it.
    </p>
    <p>
      Second, we need to find nearest and farthest missions from HQ.
      Some agents want kalab...
      So...yep
    </p>
  </div>

</div>

