.mission-card {
  width: 700px;
  height: 400px;
  margin-left: 10%;
  margin-top: 20px;
  display: flex;
  background: rgba(67, 81, 80, 1);
}

.left-side {
  align-items: center;
  width: 260px;
  height: 400px;
  background-image: url("../../assets/MI6_Logo.png");
  background-repeat: no-repeat;
  background-position: center;

  float: left;
}

.mission-summary {
  background: rgba(67, 81, 80, 0.8);
  width: 440px;
  padding: 16px;
  margin-left: 20px;
  float: left;
}
